.checkbox-wrapper .checkbox-box {
  fill: #eef0ee;
  stroke: #bcc5c6;

  stroke-dashoffset: 800;
  transition: stroke-dashoffset 0.9s ease-in-out;
}

.checkbox-wrapper .checkbox-tick {
  stroke: #1491a7;
  stroke-dasharray: 172;
  stroke-dashoffset: 172;
  transition: stroke-dashoffset 0.8s ease-in-out;
}

.checkbox-wrapper input[type='checkbox']:checked + .terms-label .checkbox-box,
.checkbox-wrapper input[type='checkbox']:checked + .terms-label .checkbox-tick {
  stroke-dashoffset: 0;
}
.checkbox-box-checked {
  stroke: #18d2e7 !important;
  stroke-dasharray: 800 !important;
}
