@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../styles/theme.css');

body {
  font-family: 'Inter', sans-serif;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */
  /* body {
    @apply bg-white text-typo-200 ;
  } */
  /* body {
    @apply bg-background text-foreground;
  } */
}

@layer utilities {
  body {
    @apply bg-white text-typo-200 dark:bg-dark-650 dark:text-light-300;
  }
  .container {
    @apply m-[0_auto] w-90 max-w-[1440px] px-0  md:w-85 xl:w-3/4;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
  .flex-col-between {
    @apply flex flex-col justify-between;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
  .disabled {
    @apply disabled:cursor-not-allowed disabled:opacity-40 disabled:text-white text-typo-50 bg-primary-500;
  }

  .card-wrapper {
    @apply bg-light-100 dark:dark-gradient shadow-light-100 dark:shadow-dark-100;
  }

  .btn {
    @apply bg-light-200 dark:bg-dark-300 !important;
  }

  .btn-secondary {
    @apply bg-light-200 dark:bg-dark-400 !important;
  }

  .btn-tertiary {
    @apply bg-light-300 dark:bg-dark-300 !important;
  }

  .primary-gradient {
    background: linear-gradient(129deg, #5e807f 0%, #8ca692 100%);
  }

  .dark-gradient {
    background: linear-gradient(232deg, rgba(23, 28, 35, 0.41) 0%, rgba(19, 22, 28, 0.7) 100%);
  }

  .tab {
    @apply min-h-full dark:bg-dark-400 bg-light-200 text-light-500 dark:data-[state=active]:bg-dark-300 data-[state=active]:bg-primary-100 data-[state=active]:text-primary-400 !important;
  }
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.active-theme {
  filter: invert(13%) sepia(68%) saturate(3332%) hue-rotate(0deg) brightness(104%) contrast(106%) !important;
}
.icon-light {
  filter: invert(43%) sepia(150%) saturate(660%) hue-rotate(60deg) brightness(104%) contrast(96%) !important;
}

.icon-dark {
  filter: invert(71%) sepia(78%) saturate(3920%) hue-rotate(183deg) brightness(97%) contrast(87%) !important;
}
.icon-social:hover {
  box-shadow: rgba(16, 165, 171, 0.58) 0px 3px 8px;
}

.light-gradient {
  background: linear-gradient(132deg, rgba(247, 249, 255, 0.5) 0%, rgba(229, 237, 255, 0.25) 100%);
}

.primary-text-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.shadow-custom {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 8px;
}
.shadow-custom-2 {
  box-shadow: 0px 0px 3px 0px #212529;
}
/* styles.css */
.NavigationMenuIndicator {
  background-color: #c7c8c87e;
}
.NavigationMenuIndicator[data-orientation='horizontal'] {
  transition:
    width,
    transform,
    550ms ease;
}

.transition-opacity {
  transition: opacity 0.3s ease; /* You can adjust the duration and easing function */
}
.NavigationMenuLink {
  text-decoration: none !important;
}
.NavigationMenuLink[data-active] {
  text-decoration: underline !important;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-deg);
  -webkit-transform: rotate(-deg);
}
input[type='number'] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.5s ease-in-out;
}
.shadow-custom-reset-password {
  box-shadow: rgba(60, 203, 255, 0.837) 0px 1px 8px;
}
